@import 'utils';

.global-config-component {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 110px;
  width: 350px;

  .global-flags-container {
    margin-bottom: 10px;

    .global-flag-container {
      display: flex;
      flex-direction: row;

      margin-bottom: 4px;

      .checkbox-component {
        margin-right: 8px;
      }
    }
  }

  .global-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      font-size: 16px;
      font-family: Open Sans;

      height: 30px;
      width: 150px;

      background-color: rgb(180, 210, 250);
    }
  }
}
