@import 'utils';

.global-config-component {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 110px;
  width: 324px;

  .global-flags-container {
    margin-bottom: 10px;

    .global-flag-container {
      display: flex;
      flex-direction: row;

      margin-bottom: 10px;
    }
  }

  .global-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      border: none;
      outline: none;

      border-radius: 6px;

      color: white;
      font-size: 16px;
      font-family: Open Sans;

      height: 30px;
      width: 150px;

      background-color: $sidebar-button-color;
      &:hover {
        background-color: $sidebar-button-hover-color;
      }
      &:active {
        background-color: $sidebar-button-active-color;
      }
    }
  }
}
