.sidebar-container {
  .sidebar-content-container {
    .planet-config-component {
      height: 190px;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .planet-name {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 12px;
      }

      .inputs-container {
        display: flex;
        flex-direction: row;

        margin-bottom: 10px;
        padding-left: 17px;

        .vector-inputs-container {
          flex: 1;

          .vector-input-container {
            display: flex;
            flex-direction: row;
            justify-content: center;

            margin-bottom: 8px;
          }
        }

        .scalar-inputs-container {
          flex: 1;

          .scalar-input-container {
            display: flex;
            flex-direction: row;
            justify-content: center;

            margin-bottom: 8px;
          }
        }
      }

      .planet-toggles-container {
        display: flex;
        flex-direction: row;

        .planet-toggle-container {
          flex: 1;

          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
