%border-box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

$sidebar-background-color: rgb(200, 200, 200);
$sidebar-checkbox-checked-color: rgb(100, 100, 250);
$sidebar-checkbox-hover-color: rgb(230, 230, 250);

$sidebar-button-color: rgb(100, 100, 250);
$sidebar-button-hover-color: rgb(80, 80, 250);
$sidebar-button-active-color: rgb(0, 0, 250);

$sidebar-text-active-color: rgb(100, 100, 250);
