.scalar-input-component {
  display: flex;
  flex-direction: row;

  .scalar-label {
    width: 60px;
    font-size: 16px;
  }

  .scalar-input {
    width: 35px;
    border: none;
    border-radius: 2px;

    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
  }
}
