.scalar-input-component {
  display: flex;
  flex-direction: row;

  .scalar-label {
    width: 50px;
  }

  .scalar-input {
    width: 35px;
    border: 1px solid black;
    border-radius: 2px;
  }
}
