.vector-input-component {
  display: flex;
  flex-direction: row;

  .vector-label {
    width: 114px;
    font-size: 16px;
  }

  .left-parenthesis {
    margin-right: 4px;
    font-size: 14px;
  }

  .comma {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 14px;
  }

  .right-parenthesis {
    margin-left: 4px;
    font-size: 14px;
  }

  .vector-input {
    width: 35px;
    border: 1px solid black;
    border-radius: 2px;

    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
  }
}
